body {
  font-family: Helvetica, sans-serif;
  padding: 20px 40px;
}

.country:hover {
  stroke: #333;
}

#tooltip {
  position: absolute;
  display: none;
  background: #fff;
  box-shadow: 3px 3px 3px 0px rgb(92 92 92 / 0.5);
  border: 1px solid #ddd;
  font-size: 12px;
  font-weight: 500;
  padding: 8px;
  min-width: 160px;
  color: #333;
}
.tooltip-title {
  color: #000;
  font-size: 14px;
  font-weight: 600;
}

/* Axes */
.axis line {
  fill: none;
  stroke: #ddd;
  shape-rendering: crispEdges;
}
.axis text {
  font-size: 13px;
  fill: #6b6b6b;
}
.axis-title {
  font-size: 13px;
  fill: #888;
}

.bar {
  fill: steelblue;
  shape-rendering: crispEdges;
}

/* .map {
  display: flex;
  justify-content: center;
} */

/* .dropdowns {
  display:flex;
  flex-direction: column;
} */